* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

html {
  scroll-behavior: smooth;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url("/background.png");
  background-position: center;
  background-size: cover;
}
.container {
  margin-right: 100px;
  margin-left: 100px;
}

.logo{
  margin-top: 30px;
  width: 200px;
  color: #8d52ff;
  user-select: none;
  font-family: "Oswald", sans-serif;
}

.header-text{
  max-width: 350px;
  margin-top: 140px;
}

.header-img {
  width: 500px;
  margin-left: 80%;
  margin-top: 50vh;
}

.header-img img{
  width: 500px;
}

h1 {
  font-size: 34px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}
.square{
  height:12px;
  width: 12px;
  display: inline-block;
  background: #8d52ff;
  margin: 15px 0;
}

.common-btn {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid #8d52ff;
  border-radius: 3px;
  font-weight: bold;
  font-family: 'Manrope', sans-serif;
  cursor: pointer;
}

.common-btn:hover {
  background: #8d52ff;
  color: white;
  box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
}

p {
  font-size: 15px;
  line-height: 18px;
  color: #777;
  font-family: 'Manrope', sans-serif;
}

.header-text button {
  margin-top: 20px;
  margin-bottom:60px;
}

.line-1 {
  height: 15px;
  width: 15px;
  background: #8d52ff;
  display: inline-block;
}

.line-2 {
  height: 1px;
  width: 80px;
  background: #8d52ff;
  display: inline-block;
}

.line-3 {
  height: 1px;
  width: 60px;
  background: #8d52ff;
  display: inline-block;
}

.line {
  line-height: 8px;
}

#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #8d52ff;
  z-index: 2;
  transition: .5s;
}

#sideNav h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
  font-family: 'Oswald', sans-serif; 
}

nav ul li {
  list-style: none;
  /*margin: 50px 20px;*/
  padding: 15px;
  cursor: pointer;
  /*border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);*/
}

nav ul li:hover{
  background-color: #a475ff;
}

nav ul li:hover a {
  color: #fff;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
}

nav ul li a .fas {
  width: 25px;
}

#menuBtn {
  width: 50px;
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
  transition: .5s;
}

#closeBtn {
  width: 50px;
  position: fixed;
  right: -250px;
  top: 1px;
  z-index: 2;
  cursor: pointer;
  transition: 0.5s;
}

span.typed-text{
  color:#8d52ff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

span.cursor{
  display: inline-block;
  background-color: #000;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #000; }
  49% { background-color: #000; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100% { background-color: #000; }
}

/*----ABOUT----*/

#about, #offer {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-left-col {
  flex-basis: 50%;
}

.about-left-col img {
  width: 100%;
}

.about-right-col {
  flex-basis: 50%;
  text-align: right;
}

.about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}

.about-text h2 {
  margin: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
  .about-text h3 {
  font-size: 20px;
  font-style: italic;
  color: #797979;
  font-family: "Oswald", sans-serif;
}

/*----FEATURES----*/

#features {
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature-row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-col{
  flex-basis: 25%;
  text-align: center;
}

.feature-col img{
  width: 100px;
}

.feature-col h4{
  margin-bottom: 15px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.feature-btn {
  margin: 80px auto 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.feature-btn .line{
  text-align: right;
  display: inline-block;
  margin-right: 25px;
}

.feature-col p {
  font-size: 15px;
  line-height: 18px;
  color: #777;
  font-family: 'Manrope', sans-serif;
}

/*----DESIGNS----*/

#designs{
  padding: 100px 0;
}

.design-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.design-right-col{
  flex-basis: 50%;
}

.design-right-col img{
  width: 100%;
}

.design-left-col{
  flex-basis: 50%;
}

.design-text{
  max-width: 350px;
}

.design-text button{
  margin: 30px 0;
}

/*----OFFER----*/

#offer button {
  margin: 30px 0;
}

/*----CONTACT----*/

.contact-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact-left-col, .contact-right-col{
  flex-basis: 50%;
}

.contact-right-col img{
  width: 100%;
}

form {
  max-width: 350px;
  margin: 30px 0;
}

form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #8d52ff;
}

form input:hover, form input:active, form input:focus{
  box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
}

.btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-box button {
  flex-basis: 48%;
  padding: 18px 0;
}

/*----FOOTER----*/

#footer {
  padding: 50px 0 30px;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #8d52ff;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left-col {
  flex-basis: 50%;
  margin-top: 60px;
}

.footer-right-col {
  flex-basis: 35%;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-title h4 {
  color: #8d52ff;
  margin-bottom: 20px;
}

.link-title small {
  font-size: 13px;color: #777;
}

.footer-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo h1{
  width: 200px;
}

.footer-logo button {
  padding: 12px 38px;
  margin-top: 20px;
  font-size: 10px;
}

.footer-logo{
  flex-basis: 40%;
}

.copyright-text {
  flex-basis: 50%;
}

/*----SOCIAL-ICONS----*/

.social-icons {
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.social-icons .fab{
  display: block;
  margin: 0 auto 20px;
  width: 20px;
  font-size: 20px;
  cursor: pointer;
}


/*----MEDIA-QUERIES----*/

@media only screen and (max-width: 770px) {
  #header {
    background-image: none;
  }

  .container {
    margin-right: 50px;
    margin-left: 50px;
  }

  .logo{
    margin-top: 27px;
    width: 150px;
    color: #8d52ff;
    user-select: none;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
  }

  .header-text{
    margin-top: 100px;
  }

  h1 {
   font-size: 25px;
   font-family: 'Oswald', sans-serif;
   font-weight: 700;
  }

  #menuBtn {
  width: 40px;
  right: 50px;
  box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
  transition: .5s;
}

#closeBtn {
  width: 40px;
}

.common-btn {
  padding: 10px 16px;
}

.social-icons .fab{
  margin: 15px auto;
  width: 14px;
  font-size: 14px;
}

.about-left-col, .about-right-col {
  flex-basis: 100%;
}

.about-text {
  margin: 50px 50px 0;
  display: inline-block;
}

.about-text h2 {
  font-size: 18px;
  
}

.feature-col {
  flex-basis: 100%;
  margin-bottom: 20px;
}
#about{
  padding: 0px;
}

#offer, #contact {
  padding: 50px 0;
}

#designs {
  padding: 0;
}

#features {
}

.design-left-col {
  flex-basis: 100%;
}

.design-right-col {
  flex-basis: 100%;
  margin-top: 70px;
}

.contact-left-col, .contact-right-col {
  flex-basis: 100%;
}

.contact-right-col {
  margin-top: 50px;
}

.btn-box button {
  padding: 10px 16px;
}

.footer-left-col, .footer-right-col {
  flex-basis: 100%;
}

.link-title {
  flex-basis: 50%;
  margin-bottom: 30px;
}

}